/* Grid estilo Metro/Windows 8 encontrado na página "Funcionários" */
/* Parte direita da grid */
.metro {
width: 100%;
height: 50%;
margin: 0 auto 0;
margin-top: 30px;
}
.metro li {
-webkit-transform: perspective(600px);
-webkit-transform-style: preserve-3d;
-webkit-transform-origin-x: 20%;
-webkit-transform-origin-y: 20%;
-ms-transform: perspective(600px);
-ms-transform-style: preserve-3d;
-ms-transform-origin-x: 20%;
-ms-transform-origin-y: 20%;
transform: perspective(600px);
transform-style: preserve-3d;
transform-origin-x: 20%;
transform-origin-y: 20%;
cursor: default;
position: relative;
text-align: center;
margin: 0 10px 10px 0;
width: 100px;
height: 100px;
color: #ffffff;
float: left;
-webkit-transition: .2s -webkit-transform, 1s opacity;
-ms-transition: .2s -ms-transform, 1s opacity;
transition: .2s transform, 1s opacity;
cursor:pointer;
}
/* Os itens tem tamanho relativo e cada um deles tem um efeito hover/clique */
.metro li i {
font-size: 54px;
margin: 35px 0 0;
}
.metro li img{
    padding: 0;
    right: 5px;
    top: 5px;
    opacity:1;
    position:absolute;
    border:none;
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
}
.metro li:hover {
    opacity:0.5;
}
.metro li span {
color: rgba(255, 255, 255, 0.8);
text-transform: uppercase;
position: absolute;
left: 15px;
bottom: 15px;
font-size: 14px;
}

.metro li:first-child {
background: #dd142e;
width: 268px;
}

.metro li:nth-child(2) {
background: #cf2327;
width: 240px;
}

.metro li:nth-child(3) {
background: #ed4d42;
width: 190px;
height: 100px;
}

.metro li:nth-child(4) {
background: #f1a581;
width: 168px;
height: 100px;
}

.metro li:nth-child(5) {
background: #F8A959;
width: 140px;
height: 100px;
}
.metro li:last-child {
background: #fabe81;
width: 518px;
height: 181px;
}

.metro li:nth-child(5):active, .metro li:first-child:active {
-webkit-transform: scale(0.95);
-ms-transform: scale(0.95);
transform: scale(0.95);
}

.metro li:nth-child(7):active, .metro li:nth-child(2):active {
-webkit-transform: perspective(600px) rotate3d(1, 0, 0, -10deg);
-ms-transform: perspective(600px) rotate3d(1, 0, 0, -10deg);
transform: perspective(600px) rotate3d(1, 0, 0, -10deg);
}

.metro li:nth-child(3):active {
-webkit-transform: perspective(600px) rotate3d(0, 1, 0, 10deg);
-ms-transform: perspective(600px) rotate3d(0, 1, 0, 10deg);
transform: perspective(600px) rotate3d(0, 1, 0, 10deg);
}

.metro li:nth-child(4):active {
-webkit-transform: perspective(600px) rotate3d(0, 1, 0, -10deg);
-ms-transform: perspective(600px) rotate3d(0, 1, 0, -10deg);
transform: perspective(600px) rotate3d(0, 1, 0, -10deg);
}

/* Pop-up "Curiosidade" e botão "Close" */

.box {
display: table;
top: 0;
visibility: hidden;
-webkit-transform: perspective(1200px) rotateY(180deg) scale(0.1);
-ms-transform: perspective(1200px) rotateY(180deg) scale(0.1);
transform: perspective(1200px) rotateY(180deg) scale(0.1);
top: 0;
left: 0;
z-index: -1;
position: absolute;
width: 100%;
height: 100%;
opacity: 0;
transition: 1s all;
}

.box p {
vertical-align: middle;
    font-size: 20px;
    text-transform: none;
    text-align: left;
    padding-left: 20px;
padding-right: 35px;
padding-top: 15px;
color: #ffffff;
margin: 0;
opacity: 0;
transition: .2s;
-webkit-transition-delay: 0.2s;
-ms-transition-delay: 0.2s;
transition-delay: 0.2s;
}

.box p i {
font-size: 128px;
margin:0 0 20px;
display:none;
}

.box .close {
background: url(http://i.imgur.com/foocpzw.jpg);
display:block;
cursor:pointer;
border:3px solid rgba(255, 255, 255, 1);
border-radius:50%;
position:absolute;
top:15px;
right:15px;
width:25px;
height:25px;
-webkit-transform:rotate(45deg);
-ms-transform:rotate(45deg)
transform:rotate(45deg);
transition: .2s;
-webkit-transition-delay: 0.2s;
-ms-transition-delay: 0.2s;
transition-delay: 0.2s;
opacity:0;
}

.box.open {
left: 51%;
top: 11%;
visibility: visible;
opacity: 1;
z-index: 999;
-webkit-transform: perspective(1200px) rotateY(0deg) scale(1);
-ms-transform: perspective(1200px) rotateY(0deg) scale(1);
transform: perspective(1200px) rotateY(0deg) scale(1);
width: 518px;
height: 215px;
}

.box.open .close, .box.open p {
opacity: 1;
}

/* Parte esquerda da Grid*/

.metro2 {
width: 100%;
height: 50%;
margin: 0 auto 0;
margin-top: 30px;
}
.metro2 li {
-webkit-transform: perspective(600px);
-webkit-transform-style: preserve-3d;
-webkit-transform-origin-x: 20%;
-webkit-transform-origin-y: 20%;
-ms-transform: perspective(600px);
-ms-transform-style: preserve-3d;
-ms-transform-origin-x: 20%;
-ms-transform-origin-y: 20%;
transform: perspective(600px);
transform-style: preserve-3d;
transform-origin-x: 20%;
transform-origin-y: 20%;
cursor: default;
position: relative;
text-align: center;
margin: 0 10px 10px 0;
width: 100px;
height: 100px;
color: #ffffff;
float: left;
-webkit-transition: .2s -webkit-transform, 1s opacity;
-ms-transition: .2s -ms-transform, 1s opacity;
transition: .2s transform, 1s opacity;
cursor:pointer;
}

.metro2 li i {
font-size: 54px;
margin: 35px 0 0;
}
.metro2 li img{
    padding: 0;
    right: 5px;
    top: 5px;
    opacity:1;
    position:absolute;
    border:none;
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
}
.metro2 li:hover {
    opacity:0.5;
}
.metro2 li span {
color: rgba(255, 255, 255, 0.8);
text-transform: uppercase;
position: absolute;
left: 15px;
bottom: 15px;
font-size: 14px;
}

.metro2 li:first-child {
background: #cf2327;
width: 518px;
height: 210px;
}

.metro2 li:nth-child(2) {
background: #eb3a2e;
width: 200px;
height: 181px;
}

.metro2 li:nth-child(3) {
background: #ec8453;
width: 158px;
height: 181px;
}

.metro2 li:nth-child(4) {
background: #f8cd36;
width: 140px;
height: 181px;
}
.metro2 li:last-child {
background: #fac38c;
margin: 0;
}

.metro2 li:nth-child(5):active, .metro2 li:first-child:active {
-webkit-transform: scale(0.95);
-ms-transform: scale(0.95);
transform: scale(0.95);
}

.metro2 li:nth-child(7):active, .metro2 li:nth-child(2):active {
-webkit-transform: perspective(600px) rotate3d(1, 0, 0, -10deg);
-ms-transform: perspective(600px) rotate3d(1, 0, 0, -10deg);
transform: perspective(600px) rotate3d(1, 0, 0, -10deg);
}

.metro2 li:nth-child(3):active {
-webkit-transform: perspective(600px) rotate3d(0, 1, 0, 10deg);
-ms-transform: perspective(600px) rotate3d(0, 1, 0, 10deg);
transform: perspective(600px) rotate3d(0, 1, 0, 10deg);
}

.metro2 li:nth-child(4):active {
-webkit-transform: perspective(600px) rotate3d(0, 1, 0, -10deg);
-ms-transform: perspective(600px) rotate3d(0, 1, 0, -10deg);
transform: perspective(600px) rotate3d(0, 1, 0, -10deg);
}
