/* Seção "Créditos" da página "Sobre. Código adaptado de código disponibilizado por WebDesignCrowd.com" */

.clearfix {
  clear: both;
}

.portfolio {
  text-align: center;
}
  .portfolio .pentagon {
    float: left;
    width: 205px;
  }
    .pentagon .portfolio-title {
      position: relative;
      float: left;
      width: 100%;
      height: 20px;
      overflow: hidden;
      margin-top: 10px;
    }
      .pentagon .portfolio-title h4 {
        position: relative;
        line-height: 20px;
        width: 100%;
        text-align: center;
        font-weight: bold;
        color: #fff;
        font-size: 14px;
      }
        .portfolio-title h4 span {
          width: 100%;
          position: absolute;
          margin: 0 auto;
          left: 0;
          color: #4EA838;
          top: 20px;
        }
    .portfolio .pentagon a {
      float: left;
      width: 200px;
      height: 200px;
      overflow: hidden;
      display: block;  
      position: relative;
    }
      .portfolio .pentagon a img {
        position: absolute;
        left: -75px;
        top: 0;
        -webkit-filter: grayscale(100%);
      	-moz-filter: grayscale(100%);
      	-o-filter: grayscale(100%);
      	-ms-filter: grayscale(100%);
      	filter: grayscale(100%);
        -webkit-transition: 300ms ease-out;
      	-moz-transition: 300ms ease-out;
      	-o-transition: 300ms ease-out;
      	transition: 300ms ease-out;
      	-webkit-backface-visibility: hidden;
      }
      .portfolio .pentagon a img.hovering {
        left: -50px;
        -webkit-filter: grayscale(0%);
      	-moz-filter: grayscale(0%);
      	-o-filter: grayscale(0%);
      	-ms-filter: grayscale(0%);
      	filter: grayscale(0%);
      }
      .portfolio .pentagon a span.mask {
        width: 300px;
        height: 300px;
        position: absolute;
        top: -50px;
        left: -50px;
        z-index: 2;
        background: url("../images/pentagon_mask.png") no-repeat;
        -webkit-transition:-webkit-transform 300ms ease-out;
      	-moz-transition:-moz-transform 300ms ease-out;
      	-o-transition:-o-transform 300ms ease-out;
      	transition:transform 300ms ease-out;
      	-webkit-backface-visibility: hidden;
      }
      .portfolio .pentagon a span.mask:hover{
      	-webkit-transform:rotate(30deg);
      	-moz-transform:rotate(30deg);
          -ms-transform:rotate(30deg);
      	-o-transform:rotate(30deg);
      	transform:rotate(30deg);
      }

