/* Gráfico de número de empresas da página "Evolução" */

#grafico {
  width: 100%;
  height: 375px;
  margin: 10px 0 0 0;
  display: block;
}
  #numeros {
  width: 50px; 
  height: 100%;
  margin: 20px 0 0 0;
  padding: 0;
  display: inline-block;
  float: left;
}
  #numeros li {
    text-align: right;
    padding-right: 1em;
    list-style: none;
    height: 59px;
    border-bottom: 1px solid #444;
    position: relative;
    bottom: 20px;
} 
  #numeros:last-child {
    height: 30px;
}
  #numeros span {
    color: #eee;
    position: absolute;
    bottom: 0;
    right: 10px;
} 
#barras {
    display: inline-block;
    background: rgba(0,0,0,0.2);
    width: 85%;
    height: 100%;
    padding: 0;
    margin: 20px 0 0 0;
    box-shadow: 0 0 0 1px #444;
}
#barras li {
      display: table-cell;
      width: 45px;
      height: 300px;
      margin: 0;
      text-align: center;
      position: relative;
      top: 40px;
}
#barras span {
        color: #eee;
        width: 100%;
        position: absolute;
        bottom: -2em;
        left: 0;
        text-align: center;
      }
.barra {
        display: block;
        width: 30px;
        margin-left: 8px;
        background: #49E;
        position: absolute;
        bottom: 0;

          filter: alpha(opacity=100); /* For IE8 and earlier */
  -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.barra:hover {
          opacity: 0.5;
          filter: alpha(opacity=50); /* For IE8 and earlier */
}
.barra:hover:before {
            color: white;
            content: attr(data-number);
            position:relative;
            bottom: 20px;
}
